/* div {
    background-color: aqua;
} */
@import "https://js.arcgis.com/4.24/@arcgis/core/assets/esri/themes/dark/main.css";


* {
    /* border: 1px solid black; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f0f0f0;
}

#top-half {
    display: flex;
}

p {
    margin: 8px;
}

input {
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: normal;
    word-break: break-all;
}

#side-bar {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    /* height:500px; */
}

textarea{
    margin-left: 30px;
    margin-right: 30px;
}

#the-form {
    display: flex;
    flex-direction: column;
}

#comment-input {
    height: 100px;
}


h2 {
    text-align: center;
    border: 0px;
}

#viewDiv {
    flex-grow: 1;
    background-color: cadetblue;
    min-height: 620px;
    border: 3px solid black;
    /* border-radius: 10px; */
}

#history {
    display: flex;
    flex-wrap: wrap;
}

.history-card {
    /* width: 24%; */
    /* flex-grow: 1; */
    min-width: 100px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px 6px #51AFC1;
    margin: 20px;
    background-color: #fff;
}

.history-card button {
    max-width: 50px;
    align-self: center;
}

#clear-button {
    max-width: 125px;
    align-self: center;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    /* max-height: 50px; */
}

#nav-bar img{
    max-height: 50px;
}

#nav-bar button {
    background-color: #f0f0f0;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#nav-bar form{
    max-width: 500px;
}